<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <users>
    {% for user in clickhouse_users %}
    {% if user.comment is defined %}
    <!-- {{user.comment}} -->
    {% endif %}
    <{{ user.name }}>
        {% if user.password_remove is defined %}
    	<password remove='1' />
	{% endif %}
        {% if user.password is defined and user.password_sha256_hex is not defined %}
        <password>{{ user.password }}</password>
        {% elif user.password is not defined and user.password_sha256_hex is defined %}
        <password_sha256_hex>{{ user.password_sha256_hex }}</password_sha256_hex>
        {% elif user.password is defined and user.password_sha256_hex is defined %}
        <password_sha256_hex>{{ user.password_sha256_hex }}</password_sha256_hex>
        {% endif %}
        <networks incl="networks" replace="replace">
        {% for net in user.networks %}
        <ip>{{ net }}</ip>
        {% endfor %}
        </networks>
        <profile>{{ user.profile }}</profile>
        <quota>{{ user.quota }}</quota>
        {% if user.dbs is defined %}
         <allow_databases>
        {% for db in user.dbs %}
            <database>{{ db }}</database>
        {% endfor %}
        </allow_databases>
        {% endif %}
    </{{ user.name }}>
    {% endfor %}
  </users>
</yandex>
