<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<clickhouse>
    <path>{{ clickhouse_path_data }}</path>
    <tmp_path>{{ clickhouse_path_tmp }}</tmp_path>
    <user_files_path>{{ clickhouse_path_user_files }}</user_files_path>
    <format_schema_path>{{ clickhouse_path_format_schema }}</format_schema_path>
</clickhouse>
