<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<clickhouse>
  <http_port>{{ clickhouse_http_port }}</http_port>
  <tcp_port>{{ clickhouse_tcp_port }}</tcp_port>
  <interserver_http_port>{{ clickhouse_interserver_http_port }}</interserver_http_port>

  {% for host in clickhouse_listen_hosts %}
    <listen_host>{{ host }}</listen_host>
  {% endfor %}

  <max_connections>{{ clickhouse_config.max_connections }}</max_connections>
  <keep_alive_timeout>{{ clickhouse_config.keep_alive_timeout }}</keep_alive_timeout>
  <max_concurrent_queries>{{ clickhouse_config.max_concurrent_queries }}</max_concurrent_queries>
</clickhouse>
